
body { padding-top: 50px; }
footer { margin-bottom: 150px; }

 .navbar {
  min-height: 40px;
  background-color: #000000;
}

.navbar a.brand { font-size: 20px; }
.navbar a.brand:hover {
 color: #000000;
 background-color: brown;
 text-decoration: line-through;
}

footer {
  background-color: #ebebeb;
  padding: 30px 0;
}
